.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
}

.disconnect {
  cursor: pointer;
  z-index: 1;
  color: inherit;
  transition: color 0.15s ease-in-out;
}

.disconnect:hover,
.disconnect:active {
  color: var(--light-color);
}

.imageDesktop {
  display: block;
  cursor: pointer;
}

.imageMobile {
  display: none;
  cursor: pointer;
}

@media (max-width: 652px) {
  .imageDesktop {
    display: none;
  }

  .imageMobile {
    display: block;
  }
}
