.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
}

.disconnect {
  cursor: pointer;
  z-index: 1;
}

.imageDesktop {
  display: block;
}

.imageMobile {
  display: none;
}

@media (max-width: 652px) {
  .imageDesktop {
    display: none;
  }

  .imageMobile {
    display: block;
  }
}
